.numeros{
    border: solid;
    border-width: 0.15rem;
    border-radius: 20rem;
}

.bo{
    border-radius: 20rem;
}

.img-fluid{
    max-width: 100%;
    height: 2.5rem;
}

img{
    max-width: 100%;
    height: 2.5rem;
}

.mar-left{
    margin-left: 0.7rem;
}

.form-group:last-child{
    margin-bottom: 2rem;
}